.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 10px;
    position: relative;
}

.tabs button{
    width: 33.3333%;
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.tabs .active {
    background: white;
    height: calc(100% - 10px);
    width: calc(33.3333% - 10px);
    position: absolute;
    top: 5px;
    left: 0;
    transform: translateX(5px);
    border-radius: inherit;
    box-shadow: 0 2px #ccc;
    transition: all 200ms;
}